@font-face {
  font-family: "PoiretOne";
  src: url("../font/PoiretOne-Regular.ttf");
}

* {
  font-family: "PoiretOne";
  letter-spacing: 1px;
  font-weight: 700;
	color: #464646;
}

.container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

img {
	max-width: 200px;
}

.w-0 {
	width: 0;
}

.w-100 {
	width: 100%;
}

.opacity-0 {
	opacity: 0;
}

.opacity: 1 {
	opacity: 1;
}

.items-center {
	align-items: center;
}

select, input, button, a.button {
	border-radius: 3px;
    background: #3bd6eb;
	color: #464646;
    padding: 0.5rem 1rem;
    border: 3px solid #464646;
	transition: .2s ease-in-out;
}

button, a.button {
	width: 150px;
	margin: 2rem auto;
	display: block;
}

#ultimate, #nah {
	transition: .3s ease-in-out;
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
}
