@charset "UTF-8";

/*@font-face {*/
/*font-family:"Noto Sans";*/
/*src: url("../vendor/fonts/NotoSans-Bold.ttf") format("truetype");*/
/*font-weight:bold;*/
/*font-style:normal;*/
/*}*/


/* ***************** common classes ****************** */
.padding0, .padding-0 {padding: 0;}
.padding5, .padding-5 {padding: 5px;}
.padding10, .padding-10 {padding: 10px;}
.padding15, .padding-15 {padding: 15px;}
.padding20, .padding-20 {padding: 20px;}
.padding25, .padding-25 {padding: 25px;}
.padding30, .padding-30 {padding: 30px;}
.padding35, .padding-35 {padding: 35px;}
.padding40, .padding-40 {padding: 40px;}
.padding45, .padding-45 {padding: 45px;}
.padding50, .padding-50 {padding: 50px;}
.padding55, .padding-55 {padding: 55px;}
.padding60, .padding-60 {padding: 60px;}
.paddingTop0, .padding-top-0 {padding-top: 0;}
.paddingTop5, .padding-top-5 {padding-top: 5px;}
.paddingTop10, .padding-top-10 {padding-top: 10px;}
.paddingTop15, .padding-top-15 {padding-top: 15px;}
.paddingTop20, .padding-top-20 {padding-top: 20px;}
.paddingTop25, .padding-top-25 {padding-top: 25px;}
.paddingTop30, .padding-top-30 {padding-top: 30px;}
.paddingTop35, .padding-top-35 {padding-top: 35px;}
.paddingTop40, .padding-top-40 {padding-top: 40px;}
.paddingTop45, .padding-top-45 {padding-top: 45px;}
.paddingTop50, .padding-top-50 {padding-top: 50px;}
.paddingTop55, .padding-top-55 {padding-top: 55px;}
.paddingTop60, .padding-top-60 {padding-top: 60px;}
.paddingLeft0, .padding-left-0 {padding-left: 0;}
.paddingLeft5, .padding-left-5 {padding-left: 5px;}
.paddingLeft10, .padding-left-10 {padding-left: 10px;}
.paddingLeft15, .padding-left-15 {padding-left: 15px;}
.paddingLeft20, .padding-left-20 {padding-left: 20px;}
.paddingLeft25, .padding-left-25 {padding-left: 25px;}
.paddingLeft30, .padding-left-30 {padding-left: 30px;}
.paddingLeft35, .padding-left-35 {padding-left: 35px;}
.paddingLeft40, .padding-left-40 {padding-left: 40px;}
.paddingLeft45, .padding-left-45 {padding-left: 45px;}
.paddingLeft50, .padding-left-50 {padding-left: 50px;}
.paddingLeft55, .padding-left-55 {padding-left: 55px;}
.paddingLeft60, .padding-left-60 {padding-left: 60px;}
.paddingBottom0, .padding-bottom-0 {padding-bottom: 0;}
.paddingBottom5, .padding-bottom-5 {padding-bottom: 5px;}
.paddingBottom10, .padding-bottom-10 {padding-bottom: 10px;}
.paddingBottom15, .padding-bottom-15 {padding-bottom: 15px;}
.paddingBottom20, .padding-bottom-20 {padding-bottom: 20px;}
.paddingBottom25, .padding-bottom-25 {padding-bottom: 25px;}
.paddingBottom30, .padding-bottom-30 {padding-bottom: 30px;}
.paddingBottom35, .padding-bottom-35 {padding-bottom: 35px;}
.paddingBottom40, .padding-bottom-40 {padding-bottom: 40px;}
.paddingBottom45, .padding-bottom-45 {padding-bottom: 45px;}
.paddingBottom50, .padding-bottom-50 {padding-bottom: 50px;}
.paddingBottom55, .padding-bottom-55 {padding-bottom: 55px;}
.paddingBottom60, .padding-bottom-60 {padding-bottom: 60px;}
.paddingRight0, .padding-right-0 {padding-right: 0;}
.paddingRight5, .padding-right-5 {padding-right: 5px;}
.paddingRight10, .padding-right-10 {padding-right: 10px;}
.paddingRight15, .padding-right-15 {padding-right: 15px;}
.paddingRight20, .padding-right-20 {padding-right: 20px;}
.paddingRight25, .padding-right-25 {padding-right: 25px;}
.paddingRight30, .padding-right-30 {padding-right: 30px;}
.paddingRight35, .padding-right-35 {padding-right: 35px;}
.paddingRight40, .padding-right-40 {padding-right: 40px;}
.paddingRight45, .padding-right-45 {padding-right: 45px;}
.paddingRight50, .padding-right-50 {padding-right: 50px;}
.paddingRight55, .padding-right-55 {padding-right: 55px;}
.paddingRight60, .padding-right-60 {padding-right: 60px;}
.margin0, .margin-0 {margin: 0;}
.margin5, .margin-5 {margin: 5px;}
.margin10, .margin-10 {margin: 10px;}
.margin15, .margin-15 {margin: 15px;}
.margin20, .margin-20 {margin: 20px;}
.margin25, .margin-25 {margin: 25px;}
.margin30, .margin-30 {margin: 30px;}
.margin35, .margin-35 {margin: 35px;}
.margin40, .margin-40 {margin: 40px;}
.margin45, .margin-45 {margin: 45px;}
.margin50, .margin-50 {margin: 50px;}
.margin55, .margin-55 {margin: 55px;}
.margin60, .margin-60 {margin: 60px;}
.marginTop0, .margin-top-0 {margin-top: 0;}
.marginTop5, .margin-top-5 {margin-top: 5px;}
.marginTop10, .margin-top-10 {margin-top: 10px;}
.marginTop15, .margin-top-15 {margin-top: 15px;}
.marginTop20, .margin-top-20 {margin-top: 20px;}
.marginTop25, .margin-top-25 {margin-top: 25px;}
.marginTop30, .margin-top-30 {margin-top: 30px;}
.marginTop35, .margin-top-35 {margin-top: 35px;}
.marginTop40, .margin-top-40 {margin-top: 40px;}
.marginTop45, .margin-top-45 {margin-top: 45px;}
.marginTop50, .margin-top-50 {margin-top: 50px;}
.marginTop55, .margin-top-55 {margin-top: 55px;}
.marginTop60, .margin-top-60 {margin-top: 60px;}
.marginLeft0, .margin-left-0 {margin-left: 0;}
.marginLeft5, .margin-left-5 {margin-left: 5px;}
.marginLeft10, .margin-left-10 {margin-left: 10px;}
.marginLeft15, .margin-left-15 {margin-left: 15px;}
.marginLeft20, .margin-left-20 {margin-left: 20px;}
.marginLeft25, .margin-left-25 {margin-left: 25px;}
.marginLeft30, .margin-left-30 {margin-left: 30px;}
.marginLeft35, .margin-left-35 {margin-left: 35px;}
.marginLeft40, .margin-left-40 {margin-left: 40px;}
.marginLeft45, .margin-left-45 {margin-left: 45px;}
.marginLeft50, .margin-left-50 {margin-left: 50px;}
.marginLeft55, .margin-left-55 {margin-left: 55px;}
.marginLeft60, .margin-left-60 {margin-left: 60px;}
.marginBottom0, .margin-bottom-0 {margin-bottom: 0;}
.marginBottom5, .margin-bottom-5 {margin-bottom: 5px;}
.marginBottom10, .margin-bottom-10 {margin-bottom: 10px;}
.marginBottom15, .margin-bottom-15 {margin-bottom: 15px;}
.marginBottom20, .margin-bottom-20 {margin-bottom: 20px;}
.marginBottom25, .margin-bottom-25 {margin-bottom: 25px;}
.marginBottom30, .margin-bottom-30 {margin-bottom: 30px;}
.marginBottom35, .margin-bottom-35 {margin-bottom: 35px;}
.marginBottom40, .margin-bottom-40 {margin-bottom: 40px;}
.marginBottom45, .margin-bottom-45 {margin-bottom: 45px;}
.marginBottom50, .margin-bottom-50 {margin-bottom: 50px;}
.marginBottom55, .margin-bottom-55 {margin-bottom: 55px;}
.marginBottom60, .margin-bottom-60 {margin-bottom: 60px;}
.marginRight0, .margin-right-0 {margin-right: 0;}
.marginRight5, .margin-right-5 {margin-right: 5px;}
.marginRight10, .margin-right-10 {margin-right: 10px;}
.marginRight15, .margin-right-15 {margin-right: 15px;}
.marginRight20, .margin-right-20 {margin-right: 20px;}
.marginRight25, .margin-right-25 {margin-right: 25px;}
.marginRight30, .margin-right-30 {margin-right: 30px;}
.marginRight35, .margin-right-35 {margin-right: 35px;}
.marginRight40, .margin-right-40 {margin-right: 40px;}
.marginRight45, .margin-right-45 {margin-right: 45px;}
.marginRight50, .margin-right-50 {margin-right: 50px;}
.marginRight55, .margin-right-55 {margin-right: 55px;}
.marginRight60, .margin-right-60 {margin-right: 60px;}
.relative{
    position:relative;
}
.inline-block,.inlineBlock{
    display: inline-block;
    vertical-align: middle;
}
.verticalMiddle,.vertical-middle{
    vertical-align: middle;
}
.verticalTop,.vertical-top{
    vertical-align: top;
}
.pointer,.clickable{
    cursor: pointer;
}
.bgCover,.bg-cover{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.bgContain,.bg-contain{
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.white,.fff,
.white:hover,.white:focus,
.fff:hover,.fff:focus{
    color:#fff;
}
.textCenter,.text-center{
    text-align: center;
}
.textLeft,.text-left{
    text-align: left;
}
.textRight,.text-right{
    text-align: right;
}
.w100,.width100,.width-100{
    width:100%;
}
.h100,.height100,.height-100{
    height:100%;
}
.noclick,.noClick,.no-click,.click-through,.clickThrough,.pointer-none{
    pointer-events: none;
}
.absolute{
    position: absolute;
}
.absolute100{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.fixed{
    position: fixed;
}
.leftTop,.left-top{
    left:0;
    top:0;
}
.rightTop,.right-top{
    right:0;
    top:0;
}
.absoluteCenter,.absolute-center{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.overflowHidden,.overflow-hidden{
    overflow: hidden;
}
.nowrap,.noWrap,.no-wrap{
    white-space: nowrap;
}
.normalWrap,.normalwrap,.normal-wrap{
    white-space: normal;
}
.block{
    display: block;
}
.pointer-all,.pointer-events-all,.pointerAll,.pointerEventsAll{
    pointer-events: all;
}
.floatLeft,.float-left{
    float:left;
}
.floatRight,.float-right{
    float:right;
}
.clearfix,.clearFix,.clear-fix,.clearBoth,.clear-both{
    clear: both;
}
.zIndex1,.z-index-1{
    z-index: 1;
}
.zIndex2,.z-index-2{
    z-index: 2;
}
.fontSize5,.font-size-5{
    font-size:0.5rem;
}
.fontSize6,.font-size-6{
    font-size:0.6rem;
}
.fontSize7,.font-size-7{
    font-size:0.7rem;
}
.fontSize8,.font-size-8{
    font-size:0.8rem;
}
.fontSize9,.font-size-9{
    font-size:0.9rem;
}
.fontSize10,.font-size-10{
    font-size:1rem;
}
.fontSize12,.font-size-12{
    font-size:1.2rem;
}
.fontSize15,.font-size-15{
    font-size:1.5rem;
}
.fontSize17,.font-size-17{
    font-size:1.7rem;
}
.fontSize18,.font-size-18{
    font-size:1.8rem;
}
.fontSize20,.font-size-20{
    font-size:2.0rem;
}
.fontSize25,.font-size-25{
    font-size:2.5rem;
}
.fontSize30,.font-size-30{
    font-size:3.0rem;
}
.fontSize35,.font-size-35{
    font-size:3.5rem;
}
.fontSize40,.font-size-40{
    font-size:4.0rem;
}
.fontWeight100,.font-weight-100{
    font-weight:100;
}
.fontWeight200,.font-weight-200{
    font-weight:200;
}
.fontWeight400,.font-weight-400{
    font-weight:400;
}
.fontWeight700,.font-weight-700{
    font-weight:700;
}
.fontWeight800,.font-weight-800{
    font-weight:800;
}
.fontWeight900,.font-weight-900{
    font-weight:900;
}
.lineHeight0,.line-height-0{
    line-height:0;
}
.lineHeight10,.line-height-10{
    line-height:1rem;
}
.lineHeight12,.line-height-12{
    line-height:1.2rem;
}
.lineHeight15,.line-height-15{
    line-height:1.5rem;
}
.letterSpacing0,.letter-spacing-0{
    letter-spacing: 0;
}
.letterSpacing1,.letter-spacing-1{
    letter-spacing: 1px;
}
.letterSpacing2,.letter-spacing-2{
    letter-spacing: 2px;
}
.uppercase,.upper-case,.upperCase{
    text-transform: uppercase;
}
.lowercase,.lower-case,.lowerCase{
    text-transform: lowercase;
}

.responsive-square,
.responsiveSquare{
    position: relative;
    width: 50%;
}
.responsive-square:after,
.responsiveSquare:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.responsiveSquare .responsiveSquareContent,
.responsive-square .responsive-square-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ***************** uncommon classes ****************** */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.textarea-resizeable{
    resize:vertical;
    vendorize: none;
}

.popup-container{
    background-color:rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: none;
    overflow: hidden;
}
.popup-container.open{
    display:block;
}