@font-face {
  font-family: "PoiretOne";
  src: url("../font/PoiretOne-Regular.ttf");
}
html, body {
  height: 100%;
  width: 100%;
  font-family: "PoiretOne" !important;
  letter-spacing: 1px;
}

body {
  transition: 0.5s ease-in-out;
}

table {
  float: right;
  text-align: right;
  width: 70%;
}

table.about {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  table {
    width: 100%;
  }
}

td {
  vertical-align: top;
}
@media only screen and (max-width: 415px) {
  td {
    display: block;
  }
}

.title, .nav, .content .section[data-section=home] .name, .enter {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn {
  cursor: pointer;
}

.center, .nav {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.theme-light {
  background: #fff;
  color: #333;
  border-color: #333;
}
.theme-light a {
  color: #333 !important;
}

.theme-dark {
  background: #000;
  color: #fff;
  border-color: #fff;
}
.theme-dark a {
  color: #fff !important;
}

.container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

.enter {
  text-align: center;
  position: relative;
  height: 300px;
  width: 400px;
}
@media only screen and (max-width: 415px) {
  .enter {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: 75vw;
  }
}
.enter .row {
  opacity: 0;
  position: relative;
  top: 10px;
  transition: 0.8s ease-in-out;
}
.enter .row--appear {
  opacity: 1;
  top: 0;
}

.color-box {
  border: 1px solid;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 10px;
  cursor: pointer;
  float: left;
}
.color-box--light {
  border-color: #000;
  background: #fff;
}
.color-box--dark {
  border-color: #fff;
  background: #000;
}

.continue {
  font-size: .75rem;
  margin-left: .5rem;
  cursor: pointer;
  float: left;
}

.main {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin: 5vh 0;
  position: relative;
  overflow: auto;
  opacity: 1;
}
.main.front {
  opacity: 0;
  height: 0;
}
.main.change {
  transition: 0.8s ease-in-out;
}
.main .scroll-content {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.bg-element {
  position: absolute;
  height: 100%;
  width: 100%;
}
.bg-element .bge {
  position: absolute;
  width: 100px;
  pointer-events: none;
  opacity: 0;
}
.bg-element .bge--1 {
  left: 50px;
  top: 20%;
}
.bg-element .bge--2 {
  right: 50%;
  top: 60%;
}

.divide {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background-image: url("../img/divide.png");
  background-repeat: repeat;
  background-size: cover;
}

.theme-light .divide {
  opacity: 0.3;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  display: block;
  text-align: right;
  font-weight: 700;
}
.content .section {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  text-align: right;
  padding-right: 2%;
}
.content .section[data-section=home] {
  position: relative;
}
.content .section[data-section=home] .name {
  margin-top: 2%;
  font-size: 24px;
}
.content .section[data-section=home] .intro {
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: #c3c3c3;
  font-size: 14px;
}
.content .section[data-section=work] {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #fff !important;
  padding-bottom: 40px;
  background: #6666667a;
}
.content .section[data-section=work] a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ffffffa8;
}
.content .section[data-section=work] .title, .content .section[data-section=work] .nav, .content .section[data-section=work] .enter, .content .section[data-section=work] .section[data-section=home] .name, .content .section[data-section=home] .section[data-section=work] .name {
  padding: 40px 0 10px;
}
.content .section[data-section=work] .content {
  display: none;
}
.content .section[data-section=work] .description {
  margin-bottom: 15px;
}
.content .section[data-section=work] td {
  display: block;
}
.content .section[data-section=about] {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
@media only screen and (max-width: 415px) {
  .content .section[data-section=about] .mobile-div {
    margin-bottom: 20px;
  }
}
.content .about {
  font-size: 18px;
}
.content .about .title, .content .about .nav, .content .about .enter, .content .about .section[data-section=home] .name, .content .section[data-section=home] .about .name {
  padding-top: 40px;
}

.tag {
  position: fixed;
  top: 2vh;
  right: calc(50% - min(44vw, 673px));
  color: #c3c3c3;
  font-size: 14px;
}

.nav {
  position: fixed !important;
  margin-left: 10px;
  max-width: 1400px;
  transform: translateX(calc(-50% - min(42vw, 652px))) translateY(-50%);
  display: block !important;
}
.nav .color {
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav .color .color-box {
  width: 10px;
  height: 10px;
  margin: 5px;
  float: none;
}
.nav .nav-section {
  font-size: 14px;
  color: #c3c3c3;
  transition: 0.8s ease-in-out;
  display: block;
  text-decoration: none;
}
.nav .nav-section.nav-section--current {
  font-size: 22px;
  color: unset;
}
@media only screen and (max-width: 415px) {
  .nav {
    left: 20px;
    transform: none;
  }
}

.footer {
  width: 100%;
  height: 50px;
  position: relative;
}

.scrollbar-track-y {
  background: transparent !important;
}
.scrollbar-track-y .scrollbar-thumb {
  background: #c3c3c3 !important;
  width: 5px;
  right: 0;
  left: unset;
}

.small, small {
    font-size: .625em !important;
    top: -10px;
    position: relative;
    font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
